@font-face {
  font-family: "阿里妈妈数黑体 Bold";
  font-weight: 700;
  src: url("../font/Alimama_ShuHeiTi_Bold.woff2") format("woff2"),
    url("../font/Alimama_ShuHeiTi_Bold.woff") format("woff"),
    url("../font/Alimama_ShuHeiTi_Bold.ttf") format("ttf");
  font-display: swap;
}
body {
  font-family: "阿里妈妈数黑体 Bold";
  line-height: 20px;
}
.main {
  margin: 0;
  padding: 0;
  background-color: rgba(175, 170, 165, 0.5);
  border-radius: 100px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
  width: 1400px;
  height: 725px;
  margin: 0 auto;
  box-shadow: rgb(0, 0, 0) 1px 1px 20px 1px;
  animation: 2s start_index cubic-bezier(0.7, -0.03, 0.3, 1.54) forwards;
  -moz-animation: 2s start_index cubic-bezier(0.7, -0.03, 0.3, 1.54) forwards;
  -webkit-animation: 2s start_index cubic-bezier(0.7, -0.03, 0.3, 1.54) forwards;
  transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
}

@keyframes start_index {
  from {
    top: -150px;
  }

  to {
    top: -10px;
  }
}
@-moz-keyframes start_index {
  from {
    top: -150px;
  }

  to {
    top: -10px;
  }
}
@-webkit-keyframes start_index {
  from {
    top: -150px;
  }

  to {
    top: -10px;
  }
}

.main:hover {
  box-shadow: rgb(81, 72, 72) 1px 1px 20px 1px;
  transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
}

.title-img {
  animation: title-img-move 1s ease forwards;
  -moz-animation: title-img-move 1s ease forwards;
  -webkit-animation: title-img-move 1s ease forwards;
  transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
}

.title-img:hover {
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

@keyframes title-img-move {
  from {
    width: 0px;
    height: 0px;
  }

  to {
    height: 349.6px;
  }
}
@-moz-keyframes title-img-move {
  from {
    width: 0px;
    height: 0px;
  }

  to {
    height: 349.6px;
  }
}
@-webkit-keyframes title-img-move {
  from {
    width: 0px;
    height: 0px;
  }

  to {
    height: 349.6px;
  }
}

.title {
  text-align: center;
  height: 399.2px;
}

.Start-Button {
  transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  background-color: rgb(99, 48, 48);
  opacity: 0.7;
  background-image: url(../img/newchilun.gif);
  border-radius: 50px;
  border: 3px solid black;
  width: 10em;
  height: 3em;
  font-size: 25px;
  color: rgb(0, 0, 0);
  animation: 1s Start-Button-move linear forwards;
  -moz-animation: 1s Start-Button-move linear forwards;
  -webkit-animation: 1s Start-Button-move linear forwards;
}

.Start-Button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}

.Start-Button span:before {
  content: "»»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
}

.Start-Button:hover span {
  padding-right: 50px;
}

.Start-Button:hover span:before {
  opacity: 1;
  right: 0px;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
}

.Start-Button:hover {
  background-color: grey;
}

.Start-Button:active {
  background-color: rgb(238, 199, 199);
}

@keyframes Start-Button-move {
  from {
    width: 0px;
    height: 0px;
    overflow: hidden;
    font-size: 0px;
  }

  to {
    width: 250px;
    height: 75px;
    font-size: 25px;
  }
}
@-moz-keyframes Start-Button-move {
  from {
    width: 0em;
    height: 0em;
    overflow: hidden;
    font-size: 0px;
  }

  to {
    width: 10em;
    height: 3em;
    font-size: 25px;
  }
}
@-webkit-keyframes Start-Button-move {
  from {
    width: 0em;
    height: 0em;
    overflow: hidden;
    font-size: 0px;
  }

  to {
    width: 10em;
    height: 3em;
    font-size: 25px;
  }
}

.Start {
  height: 4em;
  text-align: center;
}

.bottom-text {
  text-align: center;
  color: rgb(83, 68, 68);
  animation: bottom-text-move 1s linear forwards;
  -moz-animation: bottom-text-move 1s linear forwards;
  -webkit-animation: bottom-text-move 1s linear forwards;
}

@keyframes bottom-text-move {
  from {
    font-size: 0px;
  }

  to {
    font-size: 16px;
  }
}

.img-box {
  height: 150px;
}
@-moz-keyframes bottom-text-move {
  from {
    font-size: 0px;
  }

  to {
    font-size: 16px;
  }
}

.img-box {
  height: 150px;
}
@-webkit-keyframes bottom-text-move {
  from {
    font-size: 0px;
  }

  to {
    font-size: 16px;
  }
}

.img-box {
  height: 150px;
}

.top-img {
  position: absolute;
  right: -16px;
  top: 16px;
  opacity: 0.7;
  animation: top-img-move 1s ease forwards 0.5s;
  -moz-animation: top-img-move 1s ease forwards 0.5s;
  -webkit-animation: top-img-move 1s ease forwards 0.5s;
}

.top-img:hover {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

@keyframes top-img-move {
  from {
    width: 0px;
  }

  to {
    width: 150px;
  }
}
@-moz-keyframes top-img-move {
  from {
    width: 0px;
  }

  to {
    width: 150px;
  }
}
@-webkit-keyframes top-img-move {
  from {
    width: 0px;
  }

  to {
    width: 150px;
  }
}

.bottom-img {
  position: relative;
  animation: bottom-img-move 1.5s ease forwards;
  -moz-animation: bottom-img-move 1.5s ease forwards;
  -webkit-animation: bottom-img-move 1.5s ease forwards;
}

@keyframes bottom-img-move {
  from {
    width: 0px;
  }

  to {
    transform: rotate(360deg) translate(-16px);
    -moz-transform: rotate(360deg) translate(-16px);
    -webkit-transform: rotate(360deg) translate(-16px);
  }
}
@-moz-keyframes bottom-img-move {
  from {
    width: 0px;
  }

  to {
    transform: rotate(360deg) translate(-16px);
    -moz-transform: rotate(360deg) translate(-16px);
    -webkit-transform: rotate(360deg) translate(-16px);
  }
}
@-webkit-keyframes bottom-img-move {
  from {
    width: 0px;
  }

  to {
    transform: rotate(360deg) translate(-16px);
    -moz-transform: rotate(360deg) translate(-16px);
    -webkit-transform: rotate(360deg) translate(-16px);
  }
}

.white_ {
  position: absolute;
  left: 30px;
  top: 30px;
  transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
}

.white_:hover {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
}
