@font-face {
    font-family: "阿里妈妈方圆体 VF Regular";
    src: url("../src/assets/font/AlimamaFangYuanTiVF-Thin.woff2") format("woff2"),
    url("../src/assets/font/AlimamaFangYuanTiVF-Thin.woff") format("woff"),
    url("../src/assets/font/AlimamaFangYuanTiVF-Thin.ttf") format("ttf");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: "阿里妈妈方圆体 VF Regular", system-ui;
}

html,
body {
    height: 100%;
    background-color: #f2f3f5;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, 0.6);
    border-radius: 3px;
}

.el-header,
.el-main,
.el-footer {
    min-width: 1500px;
}

.el-main {
    max-width: 1500px;
    margin: 0 auto;
}
